<%= link_to 'Back to Dashboard', dashboard_url %>

<p id="notice"><%= notice %></p>

<h1>Points</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.account_id %></td>
        <td><%= point.event_id %></td>
        <td><%= link_to 'Show', point %></td>
        <td><%= link_to 'Edit', edit_point_path(point) %></td>
        <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
