<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @point.account.FirstName.capitalize() + " " + @point.account.LastName.capitalize() %>
</p>

<p>
  <strong>Event:</strong>
  <%= @point.event.Title.gsub(/[A-Za-z']+/,&:capitalize) %>
</p>
<p>
  <strong>Points:</strong>
  <%= @point.Points %>
</p>


<%= link_to 'Back', accounts_path %>	
