<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @point.account.FirstName.capitalize() + " " + @point.account.LastName.capitalize() %>
</p>

<p>
  <strong>Event:</strong>
  <%= @point.event.Title.gsub(/[A-Za-z']+/,&:capitalize) %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
