<%= link_to 'Back to Dashboard', dashboard_url %>

<p id="notice"><%= notice %></p>

<h1>Signups</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Account</th>
      <th>Pickup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.event.Title.gsub(/[A-Za-z']+/,&:capitalize) %></td>
        <td><%= signup.account.FirstName.capitalize() + " " + signup.account.LastName.capitalize() %></td>
        <td><%= signup.Pickup %></td>
        <td><%= link_to 'Show', signup %></td>
        <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
        <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- <%= link_to 'New Signup', new_signup_path %> -->
