<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @signup.account_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @signup.event_id %>
</p>

<p>
  <strong>Signup:</strong>
  <%= @signup.Signup %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
