<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @signup.event.Title.gsub(/[A-Za-z']+/,&:capitalize) %>
</p>

<p>
  <strong>Account:</strong>
  <%= @signup.account.FirstName.capitalize() + " " + @signup.account.LastName.capitalize() %>
</p>

<p>
  <strong>Pickup:</strong>
  <%= @signup.Pickup %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
