<%= form_with(model: authentication) do |form| %>
  <% if authentication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authentication.errors.count, "error") %> prohibited this authentication from being saved:</h2>

      <ul>
        <% authentication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_area :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
