<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @authentication.account_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @authentication.password %>
</p>

<%= link_to 'Edit', edit_authentication_path(@authentication) %> |
<%= link_to 'Back', authentications_path %>
