<div class="text-sm breadcrumbs mb-8">
	<ul>
		<li><a href="/events">Events</a></li>
		<li><%= @event.Title %></li>
	</ul>
</div>
<div class="flex flex-col md:grid grid-cols-12 gap-8">
	<div class="card col-span-4 bg-base-100 shadow-xl">
		<div class="card-body">
			<div class="flex flex-row justify-between">
				<div>
					<p class="badge badge-ghost mb-2"><%= @event.type.Value %></p>
					<h2 class="text-3xl font-semibold"><%= @event.Title %></h2>
				</div>
				<% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
					<div class="dropdown dropdown-bottom dropdown-end">
						<label tabindex="0" class="btn btn-ghost m-1">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
								<path fill-rule="evenodd" d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 00-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 00-2.282.819l-.922 1.597a1.875 1.875 0 00.432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 000 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 00-.432 2.385l.922 1.597a1.875 1.875 0 002.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 002.28-.819l.923-1.597a1.875 1.875 0 00-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 000-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 00-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 00-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 00-1.85-1.567h-1.843zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd" />
							</svg>
						</label>
						<ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
							<% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
								<li><a href="<%= edit_event_path(@event)%>">Edit Event</a></li>
							<% end %>
						</ul>
					</div>
				<%end %>
			</div>
			<p class="text-gray-500"><%= @event.Description %></p>
			<div class="stats lg:stats-horizontal my-4">
				<div class="stat">
					<div class="stat-title">Points</div>
					<div class="stat-value"><%= @event.Points %></div>
				</div>
				<div class="stat">
					<div class="stat-title">In Attendance</div>
					<div class="stat-value"><%= @signups.size %></div>
				</div>
			</div>
			<p class="text-xl text-slate-500 mb-2"></p>
			<div class="flex flex-col mb-4">
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
					</svg>
					<a class="mb-4 hover:underline"><%= @event.Date.strftime("%A, %B %-d") %></a>
				</div>
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
					</svg>
					<p class="mb-4"><%= @event.Time.strftime("%-I:%M %p") %></p>
				</div>
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
					</svg>
					<a class="hover:underline mb-8"><%= @event.Location  %></a>
				</div>
				<% if !@hasSignedUp %>
					<%= link_to 'Sign Up', new_signup_path(account_id: @account.id, event_id: @event.id), class:"btn btn-block btn-sm #{'btn-disabled' if @event.Date < DateTime.now}" %>
				<% else %>
					<%= link_to 'Drop Event', signup_path(@signup), method: :delete, data: { confirm: 'Are you certain you want to drop the event?' }, class:"btn btn-block btn-sm btn-error #{'btn-disabled' if @event.Date < DateTime.now}" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="card bg-base-100 shadow-xl col-span-8">
		<div class="card-body">
			<div class="flex flex-row justify-between">
				<h2 class="card-title">Recent Signups</h2>
			</div>
			<div class="overflow-x-auto">
				<table class="table w-full">
					<thead>
						<tr>
							<th>Account</th>
							<% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
								<th>Email</th>
								<th>Phone Number</th>
					                <% end %>
							<th>Needs a Ride</th>
							<th colspan="6"></th>
						</tr>
					</thead>
					<tbody>
						<% @signups.each do |signup| %>
							<tr>
								<% next if signup.event_id != @event.id %>
								<td><%= signup.account.FirstName.capitalize() + " " + signup.account.LastName.capitalize() %></td>
								<% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
									<td><%= signup.account.Email %></td>
									<td><%= signup.account.PhoneNumber %></td>
						                <% end %>
								<td><%= convertBool(signup.Pickup) %></td>
								<% if signup.account_id == @account.id %>
									<% @hasSignedUp = true%>
								<% end %>
								<% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
                  <% hasPoint = Point.find_by(account_id: signup.account.id, event_id: signup.event_id) %>
                  <% if !hasPoint %>
                  <td><%= link_to 'Mark Present', points_path(point:{account_id: signup.account.id, event_id: signup.event_id}), method: :post, class:'btn btn-sm' %></td>
                  <% else %>
                  <td><%= link_to 'Delete Point', hasPoint, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-error' %></td>
                  <% end %>
									<td><%= link_to 'Edit', edit_signup_path(signup), class:'btn btn-sm' %></td>
									<td><%= link_to 'Remove', signup, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-error' %></td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
