<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.Description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.Time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.Location %>
</p>

<p>
  <strong>Points:</strong>
  <%= @event.Points %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type.Value %>
</p>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Account</th>
      <th>Pickup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.event_id %></td>
        <td><%= signup.account_id %></td>
        <td><%= signup.Pickup %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Sign Up', new_signup_path(@signups) %> 
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', dashboard_path %>
