<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.Description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.Time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.Location %>
</p>

<p>
  <strong>Points:</strong>
  <%= @event.Points %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type.Value %>
</p>


<h1>Signups</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Pickup</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <% next if signup.event_id != @event.id %>
        <td><%= signup.account.FirstName.capitalize() + " " + signup.account.LastName.capitalize() %></td>
        <td><%= signup.account.Email %></td>
        <td><%= signup.account.PhoneNumber %></td>
        <td><%= convertBool(signup.Pickup) %></td>
        <% next if signup.account_id != @account.id %>
        <td><%= link_to 'Show', signup %></td>
        <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
        <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Sign Up', new_signup_path(@signups) %> 
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', dashboard_path %>
