<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :UIN %>
    <%= form.number_field :UIN %>
  </div>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_area :FirstName %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_area :LastName %>
  </div>

  <div class="field">
    <%= form.label :PhoneNumber %>
    <%= form.number_field :PhoneNumber %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_area :Email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
