<%= form_with(model: account) do |form| %>
	<% if account.errors.any? %>
		<div class="alert" id="error_explanation">
			<h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
			<ul>
				<% account.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="flex flex-col gap-4">
		<div class="flex flex-row gap-8">
			<div class="form-control w-full max-w-xs">
				<%= form.label "First Name", class: 'label-text' %>
				<%= form.text_field :FirstName, class:"input-bordered input w-full max-w-xs", placeholder:'Joe' %>
			</div>
			<div class="form-control w-full max-w-xs">
				<%= form.label "Last Name", class: 'label-text' %>
				<%= form.text_field :LastName, class:"input-bordered input w-full max-w-xs", placeholder:"Aggie" %>
			</div>
		</div>
		<div class="form-control w-full max-w-xs">
			<%= form.label "Phone Number", class: 'label-text' %>
			<%= form.number_field :PhoneNumber, class:"input-bordered input w-full max-w-xs", placeholder:'8885551234' %>
		</div>
		<div class="field form-control w-full max-w-xs">
			<%= form.label :Email %>
			<%= form.text_field :Email, class:'input input-bordered w-full max-w-xs' %>
		</div>
		<div class="form-control w-full max-w-xs">
			<%= form.label "TAMU UIN", class: 'label-text' %>
			<%= form.number_field :UIN, class:"input-bordered input w-full max-w-xs", placeholder:'123456789'%>
		</div>
		<% if @current_user.status_id == 1 or @current_user.status_id == 2%>
		<div class="form-control w-full max-w-xs mb-8">
			<%= form.label :status_id, class:'label-text' %>
			<%= form.collection_select :status_id,  Status.all, :id, :Value %>
		</div>
		<% end %>
		<div class="actions">
			<%= form.submit class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>
