<div class="card bg-base-100 shadow">
	<div class="card-body">
		<p id="notice"><%= notice %></p>
		<div class="flex flex-row justify-between">
			<h2 class="card-title">Accounts</h2>
			
			<%= link_to 'New Account', new_account_path, class:'btn float-right mb-4'%>
		</div>

		<table class="table w-full">
	
			<thead>
				<tr>
				<!-- Sort links provided by ransack for account sorting -->
					<th><%= sort_link(@q, :LastName, "Name", default_order: :asc) %></th>
					<th><%= sort_link(@q, :status_id, "Role")%></th>
					<th>Phone Number</th>
					<th><%= sort_link(@q, :Email, "Email")%></th>
					<th><%= sort_link(@q, :UIN, "UIN")%></th>
					<th colspan="4"></th>
				</tr>
			</thead>
			<tbody>
				<% @accounts.each do |account| %>
					<tr>
						<td class="<%= "text-slate-400 italic" if account.status_id == 4 %>"><%= account.FirstName%> <%= account.LastName%></td>
						<td class="<%= "text-slate-400 italic" if account.status_id == 4 %>"><p class="badge badge-ghost"><%= account.status.Value.capitalize() %></p></td>
						<td class="<%= "text-slate-400 italic" if account.status_id == 4 %>"><%= number_to_phone(account.PhoneNumber, area_code: true) %></td>
						<td class="<%= "text-slate-400 italic" if account.status_id == 4 %>"><%= account.Email %></td>
						<td class="<%= "text-slate-400 italic" if account.status_id == 4 %>"><%= account.UIN %></td>
						<td><%= link_to 'Show', account, class:'btn btn-sm btn-ghost' %></td>
						<td><%= link_to 'Edit', edit_account_path(account), class:'btn btn-sm btn-ghost' %></td>
						<td><%= link_to 'Add Points', new_point_path(account_id: account.id), class:'btn btn-sm btn-ghost' %></td>
						<% unless account.status_id == 4 and account.id != @current_user.id %>
							<td><%= link_to 'Archive', account, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-error' %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br>
	</div>
</div>
