<div class="card bg-base-100 shadow-xl">
	<div class="card-body">
		<p id="notice"><%= notice %></p>
    <div class="flex flex-row justify-between">
      <h2 class="card-title">Accounts</h2>
          <%= link_to 'New Account', new_account_path, class:'block btn float-right mb-4'%>
    </div>
		<table class="table w-full">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>UIN</th>
					<th colspan="4"></th>
				</tr>
			</thead>
			<tbody>
				<% @accounts.each do |account| %>
					<tr>
						<td><%= account.FirstName%> <%= account.LastName%></td>
						<td><%= account.status.Value.capitalize() %></td>
						<td><%= number_to_phone(account.PhoneNumber, area_code: true) %></td>
						<td><%= account.Email %></td>
						<td><%= account.UIN %></td>
						<td><%= link_to 'Show', account, class:'btn btn-sm btn-ghost' %></td>
						<td><%= link_to 'Edit', edit_account_path(account), class:'btn btn-sm btn-ghost' %></td>
						<td><%= link_to 'Add Points', new_point_path(account_id: account.id), class:'btn btn-sm btn-ghost' %></td>
						<td><%= link_to 'Archive', account, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-error' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br>
	</div>
</div>
