<div class="flex flex-col md:grid grid-cols-12 gap-8">
	<div class="card col-span-4 bg-base-100 shadow-xl">
		<div class="card-body">
			<div class="avatar mx-auto">
				<div class="w-64 rounded-full">
					<img src="<%= image_path "blank_profile_photo.webp" %>" />
				</div>
			</div>
			<div class="stats lg:stats-horizontal my-4">
				<div class="stat">
					<div class="stat-title">Sign Ups</div>
					<div class="stat-value"><%= @registered_events_count %></div>
				</div>
				<div class="stat">
					<div class="stat-title">Points</div>
					<div class="stat-value"><%= @total_points %></div>
				</div>
			</div>
			<p class="badge badge-lg"><%= @account.status.Value.capitalize()%></p>
			<h2 class="text-3xl font-semibold mb-4"><%= @account.FirstName%> <%=@account.LastName%></h2>
			<div class="flex flex-col mb-4">
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
					</svg>
					<a class="mb-4 hover:underline" href="mailto:<%= @account.Email%>"><%= @account.Email %></a>
				</div>
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
					</svg>
					<a class="mb-4 hover:underline" href="tel:<%= @account.PhoneNumber%>"><%= number_to_phone(@account.PhoneNumber, area_code: true)  %></a>
				</div>
				<div class="flex flex-row gap-4">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
					</svg>
					<p><%= @account.UIN %></p>
				</div>
			</div>
			<a href="<%= edit_account_path(@account)%>"class="btn btn-block btn-sm">Edit Profile</a>
		</div>
	</div>
	<div class="card bg-base-100 shadow-xl col-span-8">
		<div class="card-body">
			<h2 class="card-title">Recent Signups</h2>
			<div class="overflow-x-auto">
				<table class="table w-full mb-32">
					<!-- head -->
					<thead>
						<tr>
							<th>Event Title</th>
							<th>Date</th>
							<th>Requires Ride</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @registered_events.each do |signup| %>
							<tr>
							<% @thisEvent = Event.find(signup.event_id)%>
								<td><%= @thisEvent.Title %></td>
								<td><%= @thisEvent.Date.strftime("%b %-d") %> <%= Event.find(signup.event_id).Time.strftime("%-I:%M %p") %></td>
								<td><%= convertBool(signup.Pickup) %></td>
								<% if signup.account_id == @current_user.id or @current_user.status_id == 1 or @current_user.status_id == 2 %>
									<td><%= link_to 'Edit', edit_signup_path(signup), class:'btn btn-sm btn-ghost' %></td>
									<td><%= link_to 'Unregister', signup, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-error #{'btn-disabled' if @thisEvent.Date < DateTime.now}" %></td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
				<h2 class="card-title mb-2">Points</h2>
				<table class="table w-full">
					<thead>
						<tr>
							<th>Event</th>
							<th>Description</th>
							<th>Date</th>
							<th>Points</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<tbody>
						<% @mypoints.each do |point| %>
							<tr>
								<td><%= point.event.Title.gsub(/[A-Za-z']+/,&:capitalize) %></td>
								<td><%= point.event.Description %></td>
								<td><%= point.event.Date.strftime("%b %-d") %></td>
								<td><%= point.Points %></td>
                                <% if @current_user.status_id == 1 or @current_user.status_id == 2 %>
								    <td><%= link_to 'Delete', point, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-error btn-sm' %></td>
                                <% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
