<p id="notice"><%= notice %></p>

<p>
  <strong>Uin:</strong>
  <%= @account.UIN %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @account.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @account.LastName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @account.PhoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.Email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status.Value.capitalize() %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', '/dashboard' %>
